<div class="products">
    <div class="container">
        <div class="row">
            {{#each products}}
                <div class="col-sm-6 col-lg-4 col">
                    <div class="card card-products-item">
                        <a href="/products/{{this.slug}}"><img src={{this.image}} class="card-img-top" alt="..."></a>
                        <div class="card-body">
                            <a href="/products/{{this.slug}}"><h5 class="card-title">{{this.name}}</h5></a>
                            <p class="card-text">{{this.origin}}</p>
                            <a href="#" class="btn btn-primary">{{this.price}}</a>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>  
</div>
